* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.home{
    background-image: url("../../images/Bg.png");
    min-height: 100vh;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

